@import "../../style/colors";
@import "../../style/border";

.notes-preview {
  h3,p {
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
  }

  &__single-note-preview {
    background-color: $secondaryBackgroundColor;
    border-radius: $roundedBorderRadius;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .5em;
  }
}
