$mainBackgroundColor: #323232; //Jet
$secondaryBackgroundColor: #515151;
$mainFontColor: #ffffff;
//$accentColor: #d8a7ca; // Pink Lavender
$accentColor: #eb8e5b;
$linkColor: #5bc0eb; // Cyan Process

//Codeblocks
$codeBackgroundColor: #272822;
$secondaryCodeBackgroundColor: #3e3d32;
$codeLineHighlightColor: #f92672;
